<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="js/myfuncs.js"></script>
    <link rel='stylesheet' href='/frontend/css/main.css'/>

    <title>HomeFace</title>
</head>
<body class="bg-light">
<!---------------------------------------------------------->
<div class="text-center">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HomeEye</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="https://www.linkedin.com/in/eliachar-feig-55983165/" target="_blank">-->
                    <!--                            Linkedin</a>-->
                    <!--                    </li>-->
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="https://github.com/eliacharfe" target="_blank">Github</a>-->
                    <!--                    </li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Links
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <!--                              <span>-->
                                <!--                            <a class="dropdown-item" href="/Resume - Eliachar Feig.pdf" download>-->
                                <!--                             <i class="fa fa-download" aria-hidden="true"></i>-->
                                <!--                                Resume</a>-->
                                <!--                           </span>-->
                            </li>

                            <li>
                             <span>
                            <a class="dropdown-item" href="mailto:efeig15@gmail.com" tabindex="-1">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Email</a>
                                  </span>
                            </li>
                            <!--                            <a class="dropdown-item" href="/Resume - Eliachar Feig.pdf" download>Resume</a></li>-->
                            <li>
                        <span>
                            <a class="dropdown-item" href="tel:058-7272372" tabindex="-1">
                                <i class="fa fa-phone" aria-hidden="true"> </i>
                             Mobile</a>
                        </span>
                            </li>
                            <!--                        <li><a class="dropdown-item" href="/Resume - Eliachar Feig.pdf" download>Resume</a></li>-->
                            <!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->

                        </ul>
                    </li>
                </ul>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav  ms-auto ml-auto mb-2 mb-lg-0">
                        <li class="nav-item  ms-auto ml-auto">
                        <span>
<!--                            <a href="/Resume - Eliachar Feig.pdf" download-->
                            <!--                               class="nav-link  ms-auto pb-2" tabindex="-1">-->
                            <!--                                <i class="fa fa-download" aria-hidden="true"></i>-->
                            <!--                             My Resume</a>-->
                        </span>
                        </li>


                        <li class="nav-item  ms-auto ml-auto">
                        <span>
                        </span>
                        </li>

                        <li class="nav-item  ms-auto ml-auto">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6c82c8"></div>

            <div class="d-grid gap-2 col-6 mx-auto ">

                <div id="main-page" class="d-block">

                    <div class="text-center">
                        <img src="images/face.jfif" class="img-fluid" style="max-width: 100%; height: auto;">
                        <h3 class="text-success mt-4">Tap to scan your face</h3>

                        <img src="images/down.gif">
                    </div>
                    <button id="scanbtn" class="button style" type="button">Scan</button>
                    <!--                <button id="scanbtn" class="btn btn-primary mt-5" type="button">Scan</button>-->
                    <div class="col-md-12 ">
                        <div class="login-or ">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>

                    <button id="show-users-btn" class="button style3" type="button">Show All Members</button>
                    <div class="col-md-12 ">
                        <div class="login-or ">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>
                    <button id="adduser" class="button style2 mb-4" type="button">Add New Member</button>

                    <a href="#form" id="open"></a>

                    <div id="form" class="d-none">
                        <div class="myform form border border-primary border-3  mt-4 mb-4 "
                             style="background-color: #e3f2fd;">

                            <h3 class="text-dark">Add new member</h3>

                            <img src="https://static.wixstatic.com/media/9c808c_f900904c3241435e8866bbd5072c00d4~mv2.gif"
                                 class="card-img-top myborder imgGif center " alt="...">

                            <form action="http://127.0.0.1:5000/form" method="post" id="formPost" name="login"
                                  enctype="multipart/form-data">
                                <div class="form-group left-text-align">
                                    <label for="username" class="text-dark left-text-align">Username</label>
                                    <!--                                    <span class="star text-danger left-text-align">*</span>-->
                                    <input type="text" name="username" id="username"
                                           class="form-control myborder myinput mb-2 mt-2"
                                           aria-describedby="usernameHelp" placeholder="Enter your name here">
                                    <!--              <div class="text-danger errormessage"><%= emailError %></div>-->
                                </div>

                                  <div class="form-group left-text-align">
                                    <label for="tel" class="text-dark left-text-align">Cellphone</label>
                                    <!--                                    <span class="star text-danger left-text-align">*</span>-->
                                    <input type="text" name="tel" id="tel"
                                           class="form-control myborder myinput mb-2 mt-2"
                                           aria-describedby="usernameHelp" placeholder="Enter your cellphone number here">
                                    <!--              <div class="text-danger errormessage"><%= emailError %></div>-->
                                </div>

                                <div class="form-group">
                                    <p class="text-center text-dark"><i>Scan your face</i></p>

                                    <div class="col-md-12 text-center ">
                                    <span class="spinner-grow spinner-grow-sm bg-primary" role="status"
                                          aria-hidden="true"></span>
                                        <label for="img" class="text-dark">Select image:</label>
                                        <input class="text-dark" type="file" id="image" name="image" accept="image/*">
                                    </div>
                                </div>

                                <div class="text-center align-center">
                                <div id="display-image" class="d-none"></div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <p class="text-center text-dark">
                                        <input type="submit" name="register" id="register" value="Register"
                                               class="btn btn-secondary btn-block mybtn text-center w-100">
                                    </p>
                                    <p class="text-dark" id="sent-data-container"></p>

                                </div>
                                <div class="col-md-12 mb-3">
                                    <p class="text-center text-dark">
                                        <a href="#" id="cancel"
                                           class="signupBtn btn btn-outline-danger btn-block mybtn text-center w-100">Cancel</a>
                                    </p>


                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div id="users-show" class="d-none">
                    <a href="#users-show" id="up"></a>
                    <button id="back" class="button style2 mb-4 mt-5" type="button">Go Back</button>
                    <div id="identify-div" class="d-none">
                        <form action="http://127.0.0.1:5000/identify" method="post" id="formIdentifyPost" name="login"
                              enctype="multipart/form-data">

                            <label class="h5 text-dark">Identify yourself</label>
                            <input type="text" name="sender" id="sender"
                                   class="form-control myborder myinput mt-2"
                                   aria-describedby="usernameHelp" placeholder="Enter your username">
                            <input type="hidden" id="receiver" name="receiver">
                            <div class="text-danger errormessage mb-2"></div>
                            <input type="submit" name="identify" id="identify" value="Identify"
                                   class="btn btn-secondary mybtn text-center ">
                        </form>
                    </div>

                    <div id="chat" class="d-none">
                        <form action="http://127.0.0.1:5000/message" method="post" id="formMessagePost" name="login"
                              enctype="multipart/form-data">

                            <label class="h5 text-dark">Type tour message</label>
                            <input type="text" name="message" id="message"
                                   class="form-control myborder myinput mt-2"
                                   aria-describedby="usernameHelp" placeholder="Enter your message">
                            <input type="hidden" id="sender" name="sender">
                            <input type="hidden" id="receiver" name="receiver">

                            <input type="submit" name="send" id="send" value="Send"
                                   class="btn btn-secondary mybtn text-center mt-2">
                        </form>
                    </div>

                    <div id="sent-message" class="text-dark left-text-align"></div>

                    <div id="result" class="text-center text-dark mb-5"></div>

                    <div id="return" class="d-none">
                        <button id="show-users" class="button style3" type="button">Return</button>
                    </div>
                    <div id="display-image"></div>
                </div>

            </div>
            <div class="col-3" style="background-color: #6c82c8"></div>
        </div>
    </div>

</div>

<!---------------------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>